:root {
  --clr-blue-300: hsl(229, 8%, 60%);
  --clr-blue-400: hsl(231, 69%, 60%);
  --clr-blue-500: hsl(229, 31%, 21%);
  --clr-red-400: hsl(0, 94%, 66%);
  --clr-gray-400: hsl(0, 0%, 97%);
  --clr-gray-500: hsl(0, 0%, 84%);
  --clr-primary-400: var(--clr-blue-400);
  --clr-primary-500: var(--clr-red-400);
  --clr-neutral-400: var(--clr-blue-300);
  --clr-neutral-500: var(--clr-blue-500);
}

:root {
  --fs-400: clamp(0.9375rem, 0.8714788732394366rem + 0.2816901408450704vw, 1.125rem);
  --fs-500: clamp(1.5rem, 1.323943661971831rem + 0.7511737089201878vw, 2rem);
  --fs-600: clamp(1.875rem, 1.4788732394366197rem + 1.6901408450704223vw, 3rem);
  --fw-normal: 400;
  --fw-bold: 500;
  --lh-300: 1.3;
  --lh-400: 1.7;
  --lh-h1: var(--lh-300);
  --text-max-width: 47ch;
}
@media screen and (min-width: 64rem) {
  :root {
    --lh-400: 1.5;
    --lh-h1: 1.1;
  }
}

:root {
  --max-width: 90rem;
  --min-width: 23.4375rem;
  --z-index-500: 10;
  --z-index-600: 20;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html[focus-within] {
  scroll-behavior: smooth;
}
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html[focus-within] {
    scroll-behavior: auto;
  }
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: clamp(0.9375rem, 0.8714788732394366rem + 0.2816901408450704vw, 1.125rem);
  font-size: var(--fs-400);
  font-weight: 400;
  font-weight: var(--fw-normal);
  line-height: 1.7;
  line-height: var(--lh-400);
  color: hsl(229, 8%, 60%);
  color: var(--clr-neutral-400);
}

p {
  max-width: 47ch;
  max-width: var(--text-max-width);
}

h1 {
  font-size: clamp(1.875rem, 1.4788732394366197rem + 1.6901408450704223vw, 3rem);
  font-size: var(--fs-600);
  font-weight: 500;
  font-weight: var(--fw-bold);
  line-height: 1.3;
  line-height: var(--lh-h1);
  color: hsl(229, 31%, 21%);
  color: var(--clr-neutral-500);
}

h2 {
  font-size: clamp(1.5rem, 1.323943661971831rem + 0.7511737089201878vw, 2rem);
  font-size: var(--fs-500);
  font-weight: 500;
  font-weight: var(--fw-bold);
  line-height: 1.3;
  line-height: var(--lh-300);
  color: hsl(229, 31%, 21%);
  color: var(--clr-neutral-500);
}

.sr-only {
  /* stylelint-disable-next-line */
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.0625rem;
}

@media screen and (min-width: 64rem) {
  .sm-only {
    display: none !important;
  }
}

@media screen and (max-width: 64rem) {
  .sm-hidden {
    display: none !important;
  }
}

.logo {
  --default-name-clr: ##242A45;
  --default-circle-clr: #5267DF;
  --default-icon-clr: #FFF;
}
.logo__name {
  fill: var(--default-name-clr);
  fill: var(--logo-name-clr, var(--default-name-clr));
}
.logo__circle {
  fill: var(--default-circle-clr);
  fill: var(--logo-circle-clr, var(--default-circle-clr));
}
.logo__icon {
  fill: var(--default-icon-clr);
  fill: var(--logo-icon-clr, var(--default-icon-clr));
}
.logo--light-on-sm {
  --logo-name-clr: #fff;
  --logo-circle-clr: #fff;
  --logo-icon-clr: #000;
}
@media screen and (min-width: 64rem) {
  .logo--light-on-sm {
    --logo-name-clr: var(--default-name-clr);
    --logo-circle-clr: var(--default-circle-clr);
    --logo-icon-clr: var(--default-icon-clr);
  }
}

.menu {
  /* stylelint-disable-next-line */
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.875rem;
  gap: var(--menu-gap-items, 46px);
  font-size: 0.8125rem;
  font-size: var(--menu-fs, 13px);
  text-transform: uppercase;
}

.menu li {
  list-style: none;
}
.menu__item {
  width: 100%;
}
.menu__link {
  display: block;
  padding: 0;
  padding: var(--menu-padding-items, 0);
  text-align: center;
  text-decoration: none;
  letter-spacing: 1.5px;
  letter-spacing: var(--menu-ls, 1.5px);
  color: hsl(229, 31%, 21%);
  color: var(--menu-clr, var(--clr-neutral-500));
}
.menu__link:hover, .menu__link:focus {
  color: hsl(0, 94%, 66%);
  color: var(--menu-clr-hover, var(--clr-primary-500));
}
@media screen and (min-width: 64rem) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.btn {
  padding: 0.9em 2.5em;
  border: 2px solid hsl(0, 0%, 97%);
  border: 2px solid var(--btn-border-clr, var(--clr-gray-400));
  background-color: hsl(0, 0%, 97%);
  background-color: var(--btn-bg-clr, var(--clr-gray-400));
  color: hsl(229, 8%, 60%);
  color: var(--btn-clr, var(--clr-neutral-400));
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 5px 10px -4px hsl(229, 8%, 60%);
          box-shadow: 0px 5px 10px -4px hsl(229, 8%, 60%);
  -webkit-box-shadow: 0px 5px 10px -4px var(--btn-bg-clr, var(--clr-neutral-400));
          box-shadow: 0px 5px 10px -4px var(--btn-bg-clr, var(--clr-neutral-400));
  font-size: 0.8125rem;
  font-size: var(--btn-fs, 13px);
  font-weight: 500;
  font-weight: var(--fw-bold);
  letter-spacing: 1.5px;
  letter-spacing: var(--btn-ls, 1.5px);
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  all: unset;
  -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out border-color 250ms ease-in-out;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out border-color 250ms ease-in-out;
}
.btn:hover, .btn:focus {
  background-color: transparent;
  background-color: var(--btn-clr, transparent);
  color: hsl(0, 94%, 66%);
  color: var(--btn-bg-clr, var(--clr-primary-500));
  border-color: hsl(0, 94%, 66%);
  border-color: var(--btn-border-clr, var(--clr-primary-500));
}
.btn--block {
  padding-left: 0;
  padding-right: 0;
  display: block;
  width: 100%;
}
.btn--outline {
  background-color: transparent;
  border-color: currentColor;
  color: hsl(229, 8%, 60%);
  color: var(--btn-bg-clr, var(--clr-neutral-400));
}
.btn--outline:hover, .btn--outline:focus {
  background-color: hsl(229, 8%, 60%);
  background-color: var(--btn-bg-clr, var(--clr-neutral-400));
  border-color: hsl(229, 8%, 60%);
  border-color: var(--btn-bg-clr, var(--clr-neutral-400));
  color: white;
}
.btn--no-shadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn--primary {
  --btn-clr: #FFF;
  --btn-bg-clr: var(--clr-primary-400);
  --btn-border-clr: var(--clr-primary-400);
}
.btn--danger {
  --btn-clr: #FFF;
  --btn-bg-clr: var(--clr-primary-500);
  --btn-border-clr: var(--clr-primary-500);
}

.socials {
  /*stylelint-disable-next-line*/
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.socials li {
  list-style: none;
}
.socials__item {
  display: inline-block;
}
.socials__item + .socials__item {
  margin-left: 2.375rem;
}
.socials__icon {
  fill: #fff;
}
.socials__link {
  display: block;
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: hsl(0, 94%, 66%);
  fill: var(--clr-primary-500);
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.media__img {
  position: relative;
}
.media__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.media__content {
  padding-top: 3.8125rem;
}
.media__title {
  text-align: center;
}
.media__desc {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.1875rem;
  text-align: center;
}
.media__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.75rem;
  margin-top: 1.6875rem;
}
@media screen and (min-width: 64rem) {
  .media {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .media__img {
    -webkit-box-flex: 55%;
        -ms-flex: 55%;
            flex: 55%;
  }
  .media__content {
    -webkit-box-flex: 45%;
        -ms-flex: 45%;
            flex: 45%;
    padding-top: 4rem;
  }
  .media__title {
    text-align: left;
  }
  .media__desc {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5rem;
  }
  .media__cta {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 2.25rem;
  }
  .media--lg-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.tab-list__nav {
  /* stylelint-disable-next-line */
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.0625rem;
}

.tab-list__nav li {
  list-style: none;
}
.tab-list__nav-item {
  position: relative;
  border-top: 0.0625rem solid hsl(229, 8%, 60%);
  border-top: 0.0625rem solid hsl(229, 8%, 60%);
  border-top: 0.0625rem solid var(--clr-neutral-400);
}
.tab-list__nav-item:last-child {
  border-bottom: 0.0625rem solid hsl(229, 8%, 60%);
  border-bottom: 0.0625rem solid hsl(229, 8%, 60%);
  border-bottom: 0.0625rem solid var(--clr-neutral-400);
}
.tab-list__nav-item:not(.tab-list__nav-item--active):where(:hover, :focus) {
  background-color: hsl(0, 0%, 97%);
  background-color: var(--clr-gray-400);
}
.tab-list__nav-item--active {
  color: hsl(229, 31%, 21%);
  color: var(--clr-neutral-500);
}
.tab-list__nav-item--active::after {
  content: "";
  width: 46%;
  height: 0.3125rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: hsl(0, 94%, 66%);
  background-color: var(--clr-primary-500);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.tab-list__nav-link {
  display: block;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
.tab-list__content {
  margin-top: 4.375rem;
}
.tab-list__item {
  display: none;
}
.tab-list__item--active {
  display: block;
}
@media screen and (min-width: 64rem) {
  .tab-list__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tab-list__nav-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border: none;
    border-bottom: 0.0625rem solid hsl(229, 8%, 60%);
    border-bottom: 0.0625rem solid hsl(229, 8%, 60%);
    border-bottom: 0.0625rem solid var(--clr-neutral-400);
  }
  .tab-list__nav-item--active::after {
    width: 100%;
    height: 0.25rem;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
  .tab-list__nav-link {
    padding-top: 1.625rem;
    padding-bottom: 1.625rem;
  }
}

.card {
  --card-padding-inline: 1.5625rem;
  width: 100%;
  max-width: 17.5rem;
  padding-left: var(--card-padding-inline);
  padding-right: var(--card-padding-inline);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 4px 14px -8px hsl(229, 8%, 60%);
          box-shadow: 0 4px 14px -8px hsl(229, 8%, 60%);
  -webkit-box-shadow: 0 4px 14px -8px var(--clr-neutral-400);
          box-shadow: 0 4px 14px -8px var(--clr-neutral-400);
  font-size: 0.9375rem;
}
.card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2.5rem;
  padding-bottom: 1.6875rem;
}
.card__title {
  color: hsl(229, 31%, 21%);
  color: var(--clr-neutral-500);
  font-size: 1.25rem;
  font-weight: 500;
  font-weight: var(--fw-bold);
  text-align: center;
}
.card__desc {
  margin-top: 0.1875rem;
  text-align: center;
}
.card__cta {
  position: relative;
  margin-top: 2.1875rem;
  padding-top: 1.6875rem;
  padding-bottom: 1.6875rem;
}
.card__cta .btn {
  --btn-fs: 0.9375rem;
  --btn-ls: 0;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
.card__cta::before {
  content: "";
  width: calc(100% + var(--card-padding-inline) * 2);
  height: 0.25rem;
  position: absolute;
  left: calc(var(--card-padding-inline) * -1);
  top: 0;
  background-image: url("../images/bg-dots.svg");
}
@media screen and (min-width: 64rem) {
  .card__img {
    padding-bottom: 1.875rem;
  }
  .card__desc {
    margin-top: 0.5rem;
  }
  .card__cta {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .card__cta .btn {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }
}

.accordion__header {
  --arrow-width: 1.125rem;
  --arrow-height: 0.75rem;
  position: relative;
  padding-top: 1.1625rem;
  padding-bottom: 1.1625rem;
  padding-right: var(--arrow-width);
  border-bottom: 0.0625rem solid hsl(0, 0%, 84%);
  border-bottom: 0.0625rem solid hsl(0, 0%, 84%);
  border-bottom: 0.0625rem solid var(--clr-gray-500);
  color: hsl(229, 31%, 21%);
  color: var(--clr-neutral-500);
  cursor: pointer;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}
.accordion__header::after {
  content: "";
  position: absolute;
  right: 0;
  top: calc(50% - var(--arrow-height) / 2);
  z-index: 1;
  height: var(--arrow-height);
  width: var(--arrow-width);
  background-image: url("../images/icon-arrow.svg");
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.accordion__header:hover, .accordion__header:focus {
  background-color: hsl(0, 0%, 97%);
  background-color: var(--clr-gray-400);
}
.accordion__body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 250ms ease-out;
  transition: max-height 250ms ease-out;
}
.accordion__body > * {
  padding: 0.625rem;
}
.accordion__item--open .accordion__header::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.accordion__item--open .accordion__body {
  max-height: 62.5rem;
  -webkit-transition: max-height 250ms ease-in;
  transition: max-height 250ms ease-in;
}
@media screen and (min-width: 64rem) {
  .accordion__header {
    --header-pad-right: 1.75rem;
    padding-right: calc(var(--arrow-width) + var(--header-pad-right));
    padding-top: 1.1875rem;
    padding-bottom: 1.1875rem;
  }
  .accordion__header::after {
    right: var(--header-pad-right);
  }
  .accordion__header:first-child {
    border-top: 0.0625rem solid hsl(0, 0%, 84%);
    border-top: 0.0625rem solid hsl(0, 0%, 84%);
    border-top: 0.0625rem solid var(--clr-gray-500);
  }
  .accordion__header:last-child {
    border-bottom: 0.0625rem solid hsl(0, 0%, 84%);
    border-bottom: 0.0625rem solid hsl(0, 0%, 84%);
    border-bottom: 0.0625rem solid var(--clr-gray-500);
  }
}

.form {
  font-size: 0.875rem;
}
.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.0625rem;
}
.form__input {
  padding: 0.9em 1.4em;
  border: none;
  border-radius: 0.3125rem;
  letter-spacing: 0.2px;
}
.form__btn {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  font-size: inherit;
  letter-spacing: 0;
}

.container {
  max-width: 90rem;
  max-width: var(--max-width);
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 64rem) {
  .container {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
  }
}
@media screen and (min-width: 75rem) {
  .container {
    padding-left: 10.625rem;
    padding-right: 8.75rem;
  }
}

.header {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
@media screen and (min-width: 64rem) {
  .header {
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
  }
}

.nav-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 20;
  z-index: var(--z-index-600);
}
.nav-primary__toggle {
  width: 1.125rem;
  height: 0.9375rem;
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  all: unset;
  cursor: pointer;
}
.nav-primary__toggle--open {
  width: 1rem;
  height: 0.9375rem;
  background-image: url("../images/icon-close.svg");
}
.nav-primary .socials {
  display: none;
}
@media screen and (max-width: 64rem) {
  .nav-primary .menu {
    --menu-fs: 1.25rem;
    --menu-ls: 0.15rem;
    --menu-gap-items: 0;
    --menu-clr: #fff;
    margin-top: 2rem;
  }
  .nav-primary .menu__item {
    border-top: 0.0625rem solid hsl(229, 8%, 60%);
    border-top: 0.0625rem solid hsl(229, 8%, 60%);
    border-top: 0.0625rem solid var(--clr-neutral-400);
  }
  .nav-primary .menu__link.btn {
    --btn-fs: 1.25rem;
    --btn-ls: 0.15rem;
    --btn-bg-clr: #fff;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-top: 1.625rem;
  }
  .nav-primary .menu__link.btn:hover, .nav-primary .menu__link.btn:focus {
    --btn-bg-clr: var(--clr-primary-500);
  }
  .nav-primary .menu__link:not(.btn) {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
  }
  .nav-primary .socials {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .nav-primary__menu-wrapper {
    display: none;
    width: 100%;
    height: max(100vh - 6.875rem, 31.25rem);
    position: absolute;
    left: 0;
    top: 100%;
  }
  .nav-primary__menu-wrapper--visible {
    display: block;
  }
  .nav-primary__menu-wrapper--visible::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: hsl(229, 31%, 21%);
    background-color: var(--clr-neutral-500);
    opacity: 0.95;
  }
}

.intro {
  margin-top: 2.625rem;
}
.intro .media__img {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
}
.intro .media__content {
  padding-top: 4.5625rem;
}
.intro .media__cta .btn {
  --btn-ls: 0;
  --btn-fs: 0.9375rem;
  padding: 0.7em 0.8em;
}
@media screen and (min-width: 64rem) {
  .intro {
    margin-top: 4.5rem;
  }
  .intro .media__img {
    -webkit-transform: scale(1.07) translateX(13%);
            transform: scale(1.07) translateX(13%);
  }
  .intro .media__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 4rem;
  }
  .intro .media .btn {
    --btn-fs: 0.90625rem;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

.features {
  margin-top: 9.375rem;
}
.features__title {
  text-align: center;
}
.features__desc {
  margin-top: 0.625rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.features .tab-list {
  margin-top: 2.375rem;
}
.features .media__content {
  padding-top: 5.125rem;
}
.features .media__desc {
  margin-top: 0.6875rem;
}
.features .media .btn {
  --btn-fs: 0.90625rem;
  --btn-ls: 0;
  padding: 0.8em 1.6em;
}
@media screen and (min-width: 64rem) {
  .features {
    margin-top: 8.3125rem;
  }
  .features__desc {
    margin-top: 1.3125rem;
  }
  .features .tab-list {
    margin-top: 2.8125rem;
  }
  .features .tab-list__nav {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
  }
  .features .media {
    gap: 8rem;
  }
  .features .media__content {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    padding-top: 4.0625rem;
  }
  .features .media__desc {
    margin-top: 1.375rem;
  }
  .features .media__cta {
    margin-top: 2.125rem;
  }
}

.extensions {
  margin-top: 9.25rem;
}
.extensions__title {
  text-align: center;
}
.extensions__desc {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.625rem;
  text-align: center;
}
.extensions__cards {
  margin-top: 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.8125rem;
}
@media screen and (min-width: 64rem) {
  .extensions {
    margin-top: 15.25rem;
  }
  .extensions__desc {
    margin-top: 1.375rem;
  }
  .extensions__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2.375rem;
    min-height: 27.5rem;
    margin-top: 3.75rem;
  }
  .extensions__cards .card:nth-child(1) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .extensions__cards .card:nth-child(2) {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .extensions__cards .card:nth-child(3) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.faq {
  margin-top: 8.6875rem;
}
.faq__title {
  text-align: center;
}
.faq__desc {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0.9375rem;
}
.faq__cta {
  margin-top: 2.9375rem;
  text-align: center;
}
.faq__cta .btn {
  --btn-fs: 0.9375rem;
  --btn-ls: 0;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 1.4em;
  padding-right: 1.4em;
}
.faq .accordion {
  max-width: 34.125rem;
  margin-top: 2.875rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 64rem) {
  .faq {
    margin-top: 9.6875rem;
  }
  .faq__desc {
    margin-top: 1.375rem;
  }
  .faq__cta {
    margin-top: 3.3125rem;
  }
  .faq__cta .btn {
    --btn-fs: 0.90625rem;
    padding: 0.8em 1.5em;
  }
  .faq .accordion {
    margin-top: 3.5625rem;
  }
}

.contact {
  margin-top: 7.75rem;
  padding-top: 4.375rem;
  padding-bottom: 3.75rem;
  color: white;
  background-color: hsl(231, 69%, 60%);
  background-color: var(--clr-primary-400);
}
.contact__subtitle {
  font-size: 0.75rem;
  font-weight: 500;
  font-weight: var(--fw-bold);
  letter-spacing: 4.6px;
  text-align: center;
  text-transform: uppercase;
}
.contact__title {
  margin-top: 0.4375rem;
  color: inherit;
  text-align: center;
}
.contact .form {
  margin-top: 1.6875rem;
}