:root {
  --clr-blue-300: hsl(229, 8%, 60%);
  --clr-blue-400: hsl(231, 69%, 60%);
  --clr-blue-500: hsl(229, 31%, 21%);
  --clr-red-400: hsl(0, 94%, 66%);
  --clr-gray-400: hsl(0, 0%, 97%);
  --clr-gray-500: hsl(0, 0%, 84%);

  --clr-primary-400: var(--clr-blue-400);
  --clr-primary-500: var(--clr-red-400);
  --clr-neutral-400: var(--clr-blue-300);
  --clr-neutral-500: var(--clr-blue-500);
}
