@use '../utils/mixins' as *;

.contact {
  margin-top: 124px;
  padding-block: 70px 60px;
  color: white;
  background-color: var(--clr-primary-400);

  &__subtitle {
    margin-inline: auto;
    font-size: 12px;
    font-weight: var(--fw-bold);
    letter-spacing: 4.6px;
    text-align: center;
    text-transform: uppercase;
  }

  &__title {
    margin-top: 7px;
    color: inherit;
    text-align: center;
  }

  .form {
    width: 100%;
    margin-top: 30px;
    margin-inline: auto;
    max-width: 445px;
  }

  @include mq("lg") {
    margin-top: 150px;
    padding-block: 68px 74px;

    &__subtitle {
      font-size: 13px;
      letter-spacing: 5px;
    }

    &__title {
      margin-top: 34px;
      margin-inline: auto;
      max-width: 22ch;
    }
    
    .form {
      margin-top: 32px;
    }
  }
}
