@use '../utils/mixins' as *;

.faq {
  //as
  margin-top: 136px;

  &__title {
    text-align: center;
  }

  &__desc {
    margin-inline: auto;
    text-align: center;
    margin-top: 15px;
  }

  &__cta {
    margin-top: 47px;
    text-align: center;

    // .btn {
    //   --btn-fs: 15px;
    //   --btn-ls: 0;
    //   padding-block: 0.6em;
    //   padding-inline: 1.4em;
    // }
  }

  .accordion {
    max-width: 546px;
    margin-top: 46px;
    margin-inline: auto;
  }

  @include mq("lg") {
    margin-top: 155px;

    &__desc {
      margin-top: 22px;
    }

    &__cta {
      margin-top: 53px;

      // .btn {
      //   --btn-fs: 14.5px;
      //   padding: 0.8em 1.5em;
      // }
    }

    .accordion {
      margin-top: 57px;
    }
  }
}
