@use "../utils/mixins" as *;

.faq {
  margin-top: 136px;

  &__title {
    text-align: center;
  }

  &__desc {
    margin-inline: auto;
    text-align: center;
    margin-top: 15px;
  }

  &__cta {
    margin-top: 47px;
    text-align: center;
  }

  .accordion {
    max-width: 546px;
    margin-top: 46px;
    margin-inline: auto;
  }

  @include mq("lg") {
    margin-top: 155px;

    &__desc {
      margin-top: 22px;
    }

    &__cta {
      margin-top: 53px;
    }

    .accordion {
      margin-top: 57px;
    }
  }
}
