@use '../utils/mixins' as *;

.features {
  margin-top: 150px;

  &__title {
    text-align: center;
  }

  &__desc {
    margin-top: 10px;
    margin-inline: auto;
    text-align: center;
  }

  .tab-list {
    margin-top: 38px;
  }

  .media {

    &__content {
      padding-top: 82px;
    }

    &__desc {
      margin-top: 11px;
    }

  }

  @include mq("lg") {
    margin-top: 133px;

    &__desc {
      margin-top: 21px;
    }

    .tab-list {
      margin-top: 45px;

      &__nav {
        width: 67%;
        margin-inline: auto;
      }
    }

    .media {
      gap: 128px;

      &__content {
        justify-content: stretch;
        padding-top: 65px;
      }

      &__desc {
        margin-top: 22px;
      }

      &__cta {
        margin-top: 34px;
      }
    }
  }
}
