@use '../utils/mixins' as *;

.intro {
  margin-top: 42px;

  .media {
    &__img {
      transform: scale(1.13);
    }

    &__content {
      padding-top: 73px;
    }

    &__cta {
      .btn {
        --btn-ls: 0;
        --btn-fs: 15px;
        padding: 0.7em 0.8em;
      }
    }
  }

  @include mq("lg") {
    margin-top: 72px;

    .media {

      &__img{
        transform: scale(1.07) translateX(13%);
      }

      &__content {
        justify-content: flex-start;
        padding-top: 64px;
      }

      .btn {
        --btn-fs: 14.5px;
        padding-inline: 1.5em;
      }
    }
  }
}
