@use '../utils/mixins' as *;

.intro {
  margin-top: 42px;

  .media {
    &__img {
      --bg-width: 150%;
      --bg-height: 82%;
      --bg-offset-bottom: -4%;
      --bg-offset-left: 17%;
      transform: scale(1.13);
    }

    &__content {
      padding-top: 73px;
    }
  }

  @include mq("lg") {
    margin-top: 72px;

    .media {
      &__img{
        --bg-width: 150%;
        --bg-height: 76%;
        --bg-offset-bottom: -7%;
        --bg-offset-left: 30%;
        transform: scale(1.07) translateX(13%);
      }

      &__content {
        justify-content: flex-start;
        padding-top: 64px;
      }

      .btn {
        padding-inline: 1.6em;
      }
    }
  }
}
