@use "../utils/mixins" as *;

.nav-primary {
  display: flex;

  &__toggle {
    position: relative;
    top: -3px;
    width: 18px;
    height: 15px;
    background-image: url("../images/icon-hamburger.svg");
    background-repeat: no-repeat;
    all: unset;
    cursor: pointer;

    &[aria-expanded="true"] {
      position: relative;
      width: 16px;
      height: 15px;
      background-image: url("../images/icon-close.svg");
    }
  }

  &__menu {
    margin-left: auto;
  }

  @include mq("lg", "max") {
    position: absolute;
    z-index: var(--z-index-900);
    inset: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px auto 32px 1fr 40px;
    align-items: center;

    .logo {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    &__toggle {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-self: end;
    }

    &__menu {
      grid-column: 1 / 3;
      grid-row: 4 / 5;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      visibility: hidden;
      opacity: 0;

      .menu {
        --menu-fs: 20px;
        --menu-ls: 2.4px;
        --menu-gap-items: 0;
        --menu-clr: #fff;
        display: none;

        &__item {
          border-top: 1px solid var(--clr-neutral-400);
        }

        &__link:not(.btn--login) {
          padding-block: 15px;
        }

        .btn--login {
          margin-top: 26px;
        }
      }

      .socials {
        display: none;
        align-self: center;
      }
    }

    &::before {
      content: "";
      position: fixed;
      z-index: -1;
      inset: 0;
      transform: translateY(-100%);
      background-color: var(--clr-neutral-500);
      opacity: 0.95;
      transition: 250ms transform ease-out;
    }

    &--open {
      position: fixed;

      .nav-primary__menu {
        visibility: visible;
        opacity: 1;
        transition: 200ms opacity ease-in;
        transition-delay: 50ms;
      }

      .logo {
        --logo-name-clr: #fff;
        --logo-circle-clr: #fff;
        --logo-icon-clr: #000;
      }

      .menu,
      .socials {
        display: flex;
      }

      &::before {
        transform: translateY(0);
      }
    }
  }
}
