@use '../utils/mixins' as *;

.nav-primary {
  display: flex;

  &__toggle {
    position: relative;
    top: -3px;
    width: 18px;
    height: 15px;
    background-image: url('../images/icon-hamburger.svg');
    background-repeat: no-repeat;
    all: unset;
    cursor: pointer;

    &[aria-expanded="true"] {
      position: relative;
      width: 16px;
      height: 15px;
      background-image: url('../images/icon-close.svg');
    }
  }

  &__menu {
    margin-left: auto;
  }

  @include mq("lg", "max") {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: var(--z-index-900);

    &__menu {
      position: fixed;
      inset: 0;
      z-index: -1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 106px var(--padding-container) 20px;
      visibility: hidden;

      .menu {
        --menu-fs: 20px;
        --menu-ls: 2.4px;
        --menu-gap-items: 0;
        --menu-clr: #fff;

        &__item {
          border-top: 1px solid var(--clr-neutral-400);
        }

        &__link:not(.btn--login) {
          padding-block: 15px;
        }

        .btn--login {
          margin-top: 26px;
        }
      }

      .socials {
        align-self: center;
      }

    }

    &::before {
      content: '';
      position: fixed;
      z-index: -1;
      inset: 0;
      background-color: var(--clr-neutral-500);
      opacity: 0.95;
      transform: translateY(-100%);
      transition: transform 200ms ease-out;
    }

    &--open {
      .nav-primary__menu {
        visibility: visible;
        transition: visibility 100ms ease-in;
        transition-delay: 100ms;
      }

      &::before {
        transform: translateY(0);
        transition: transform 200ms ease-in;
      }
    }
  }
}
