@use '../utils/mixins' as *;

.media {
  display: flex;
  flex-direction: column;

  &__img {
    position: relative;
    align-self: center;

    img {
      width: 100%;
      object-fit: cover;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: var(--bg-offset-bottom, -10%);
      left: var(--bg-offset-left, 10%);
      width: min(var(--bg-width, 100%), 700px);
      height: var(--bg-height, 100%);
      z-index: -1;
      background-color: var(--clr-primary-400);
      /* stylelint-disable-next-line */
      @util border-left-radius(50rem);
    }

    &--bg-ltr {
      &::before {
        left: auto;
        right: var(--bg-offset-right, 10%);
        bottom: var(--bg-offset-bottom, -18%);
        transform: rotateY(180deg);
      }
    }
  }

  &__content {
    padding-top: 61px;
  }

  &__title {
    text-align: center;
  }

  &__desc {
    margin-inline: auto;
    margin-top: 19px;
    text-align: center;
  }

  &__cta {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 27px;
  }

  @include mq("lg") {
    flex-direction: row;

    &__img {
      flex: 55%;
    }

    &__content {
      flex: 45%;
      padding-top: 64px;
    }

    &__title {
      text-align: left;
    }

    &__desc {
      text-align: left;
      margin-inline: 0;
      margin-top: 24px;
    }

    &__cta {
      justify-content: flex-start;
      margin-top: 36px;
    }

    &--lg-reverse {
      flex-direction: row-reverse;
    }
  }
}
