.socials {
  /*stylelint-disable-next-line*/
  @util reset-list;
  display: flex;
  align-items: baseline;
  gap: 38px;

  &__icon {
    fill: #fff;
  }

  &__link {
    display: block;

    &:hover .socials__icon,
    &:focus .socials__icon {
      fill: var(--clr-primary-500);
    }
  }
}
