.socials {
  /*stylelint-disable-next-line*/
  @util reset-list;

  &__item {
    display: inline-block;

    + .socials__item {
      margin-left: 38px;
    }

  }

  &__icon {
    fill: #fff;
  }

  &__link {
    display: block;

    &:hover .socials__icon ,
    &:focus .socials__icon {
      fill: var(--clr-primary-500);
    }
  }
}
