@use '../utils/mixins' as *;

.sr-only {
  /* stylelint-disable-next-line */
  @util hide-visually;
}

.sm-only {
  @include mq("lg") {
    display: none!important;
  }
}

.sm-hidden {
  @include mq("lg", "max") {
    display: none!important;
  }
}

.no-scroll {
  overflow: hidden;
}
