@use '../utils/mixins' as *;

.sr-only {
  /* stylelint-disable-next-line */
  @util hide-visually;
}

.sm-only {
  @include mq("lg") {
    display: none!important;
  }
}

.sm-hidden {
  display: none;

  @include mq("lg") {
    display: inline-block;  
  }
}
