body {
  font-family: 'Rubik', sans-serif;
  font-size: var(--fs-400);
  font-weight: var(--fw-normal);
  line-height: var(--lh-400);
  color: var(--clr-neutral-400);
}

h1 {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  line-height: var(--lh-h1);
  color: var(--clr-neutral-500);
}

h2 {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  line-height: var(--lh-300);
  color: var(--clr-neutral-500);
}

